{% if item.type == 'product_link' %}
  <style>
    @media (max-width: 990px) {
      .\#modal-popup .\#main-nav-dropdown {
        padding-left: 12px !important;
      }
    }
  </style>
  {% assign product_handle = item.object.handle %}
  {% assign link_product = all_products[product_handle] %}
  <div class="#main-product-menu-wrapper">
    <div class="#main-nav-product-image">
      <img 
        src="{{ link_product.featured_image | image_url: width: 150 }}"
        alt="{{ link_product.title }}"
        width="auto"
        height="auto"
      />
    </div>
    <div class="#main-nav-product-link">
      {{ item.title | escape }}
    </div>
  </div>
{% else %}
  {{ item.title | escape }}
{% endif %}
