<fieldset class="js product-form__input">
  {%- liquid
    assign option_names = settings.option_name | split: ','
    assign use_color = false
    for option_color in option_names
      if option_color == option.name
        assign use_color = true
        break
      endif
    endfor
  -%}
  {%- if use_color -%}
    <legend class="form__label ">
      {{ option.name }}:<span id="selected-{{ option.name | downcase | replace: ' ', '-' }}">
        {{ option.selected_value -}}
      </span>
    </legend>
    {% render 'color-option', product: product, option: option, block: block %}
  {%- else -%}
    <legend class="form__label">{{ option.name }}</legend>
    {% render 'product-variant-options', product: product, option: option, block: block %}
  {%- endif -%}
</fieldset>
