<select style="display: none;">
  {% for selling_plan_group in product.selling_plan_groups %}
    {% for selling_plan in selling_plan_group.selling_plans %}
      <option data-id="{{ selling_plan.price_adjustments[0].value }}" value="{{ selling_plan.id }}">{{ selling_plan.name }}</option>
    {% endfor %}
  {% endfor %}
</select>

<!-- Hidden inputs for selling_plan and quantity -->
<input type="hidden" name="selling_plan" id="selling_plan_input" value="691337134393">
<input type="hidden" name="quantity" id="quantity_input" value="1">
<input type="hidden" name="id" id="id_input" value="50295609590073">

<!-- line items -->
<input type="hidden" value="3" id="drink_daily" name="properties[Daily Drink]">
<input type="hidden" value="Hints of fruit" id="coffee_flavour" name="properties[Flavour]">
<input type="hidden" value="54mm" id="portafilter_size" name="properties[Portafilter Size]">

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const customVariants = document.querySelectorAll('.custom-variant');
    const drinkDaily = document.querySelectorAll('.addon_item.drink_daily');
    const coffeeFlavour = document.querySelectorAll('.addon_item.coffee_flavour');
    const portafilterSize = document.querySelectorAll('.addon_item.portafilter_size');

    customVariants.forEach(customVariant => {
      customVariant.addEventListener('click', () => {
        document.querySelector('.custom-variant.variant__selected').classList.remove('variant__selected');
        customVariant.classList.add('variant__selected');
        const variantId = customVariant.getAttribute('data-variant-id');
        const variantInput = document.querySelector('#id_input');
        variantInput.value = variantId;
      });
    });

    drinkDaily.forEach(item => {
      item.addEventListener('click', () => {
        const activeItem = document.querySelector('.addon_item.drink_daily.item__selected');
        if(activeItem){
          activeItem.classList.remove('item__selected');
        }
        item.classList.add('item__selected');
        const drinkAmount = item.getAttribute('data-daily-drink');
        const drinkInput = document.querySelector('#drink_daily');
        drinkInput.value = drinkAmount;
      });
    });

    coffeeFlavour.forEach(item => {
      item.addEventListener('click', () => {
        const activeItem = document.querySelectorAll('.addon_item.coffee_flavour.item__selected');
        activeItem.forEach(acItem => {
          acItem.classList.remove('item__selected');
        });
        item.classList.add('item__selected');
        const drinkAmount = item.getAttribute('data-flavour');
        const drinkInput = document.querySelector('#coffee_flavour');
        drinkInput.value = drinkAmount;
      });
    });

    portafilterSize.forEach(item => {
      item.addEventListener('click', () => {
        const activeItem = document.querySelector('.addon_item.portafilter_size.item__selected');
        if(activeItem){
          activeItem.classList.remove('item__selected');
        }
        item.classList.add('item__selected');
        const drinkAmount = item.getAttribute('data-portafilter-size');
        const drinkInput = document.querySelector('#portafilter_size');
        drinkInput.value = drinkAmount;
      });
    });
  });
</script>
