<!-- method 1: use display -webkit-box to fixed number of line -->
<style>
  .parent-wrapper {
    position: relative;
  }

  .parent-wrapper[aria-expanded="false"] .long-description {
    -webkit-line-clamp: 4;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }

  button.morelink {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    gap: .3rem;
    background: linear-gradient(0deg, rgb(255 255 255) 15%, rgb(255 255 255 / 0%));
  }

  button.morelink:before {
    content: '';
    display: inline-block !important;
    border: solid;
    border-color: inherit;
    border-width: 0 3px 3px 0;
    border-radius: 0 1px 1px 0;
    padding: 8px;
    -webkit-backface-visibility: hidden;
    transform: rotate(45deg);
  }

  .parent-wrapper[aria-expanded="true"] .long-description {
    padding-bottom: 30px;
  }

  .parent-wrapper[aria-expanded="true"] button.morelink:before {
    transform: rotate(225deg);
  }

  .parent-wrapper[aria-expanded="true"] button.morelink {
    height: fit-content;
  }
</style>

<div class="parent-wrapper" aria-expanded="false">
  <div class="long-description active-less">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed beatae aliquam possimus fugiat itaque incidunt aliquid
    hic molestiae iure similique.
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quae incidunt dolor, cum rerum tempora.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptas illum laboriosam odit quas, dolor
      praesentium magnam!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio harum minus facilis atque, nihil libero iure odit
      quos?</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus eaque provident perferendis itaque soluta iusto
    praesentium cum nemo tenetur? Alias quod laboriosam eum quos similique! Autem possimus deserunt tenetur
    reprehenderit, veritatis odit ratione natus fuga ab necessitatibus provident, excepturi accusantium in distinctio
    itaque. Quas soluta repudiandae earum aliquam ex quasi id eaque alias atque voluptas! Perspiciatis nihil aliquam
    illo?
  </div>
  <button class="morelink less"></button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var moretext = "Load More";
    var lesstext = "Load Less";

    document.querySelectorAll(".parent-wrapper .morelink").forEach(function (btn) {
      btn.addEventListener('click', function () {
        if (this.classList.contains("less")) {
          this.classList.remove("less");
          // this.innerHTML = lesstext;
          this.closest('.parent-wrapper').setAttribute('aria-expanded', 'true');
        } else {
          this.classList.add("less");
          // this.innerHTML = moretext;
          this.closest('.parent-wrapper').setAttribute('aria-expanded', 'false');
        }
      });
    });
  });
</script>

