<style>
  
  .ingredients__controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
  }
  .ingredient-button,
  .ingredient-button {
    position: static;
    margin: 0;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 4px #e2e1f5;
    border: 1.4px solid #e2e1f5;
    color: #23203f;
  }
  .swiper-button-next.ingredient-button:after,
  .swiper-button-prev.ingredient-button:after {
    font-size: 15px;
  }
</style>

<section class="ingredients" id="section-{{ section.id }}">
  <div class="page-width">
    <div class="section-header">
      <h2 class="section-title">{{ section.settings.section_title }}</h2>
      <div class="subtitle">{{ section.settings.section_subtitle }}</div>
    </div>
    
    <!-- Slider main container -->
    <div class="ingredients__content">
      <div class="swiper mySwiper" id="swiper-{{ section.id }}">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide ingredient-card" {{ block.shopify_attributes }}>
              <div class="ingredient-card__content">
                <div class="ingredient-card__top">
                  <div class="ingredient-type">{{ block.settings.ingredient_type }}</div>
                  <div class="ingredient-title">{{ block.settings.ingredient_title }}</div>
                </div>
                <div class="ingredient-desc">
                  {{ block.settings.ingredient_desc }}
                </div>
                <div class="ingredient-dose">{{ block.settings.ingredient_dose }}</div>
              </div>
              {% if block.settings.ingredient_image != blank %}
                <div class="ingredient-image">
                  <img src="{{ block.settings.ingredient_image | image_url: width: 500 }}" width="auto" height="auto" alt="Ashwagandha">
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <!-- If we need navigation buttons -->
        <div class="ingredients__controls">
          <div class="swiper-button-prev ingredient-button"></div>
          <div class="swiper-button-next ingredient-button"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
<script>
  var swiper = new Swiper('#swiper-{{ section.id }}', {
    slidesPerView: 1,
    centeredSlides: true,
    centeredSlidesBounds: true,
    spaceBetween: 10,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 2.3,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 3.3,
        spaceBetween: 25,
      },
    }
  });
</script>
