
/* Quick view upsell */
.quickview-sidebar {
  position: fixed;
  top: 0;
  right: -485px;
  width: 485px;
  max-width: 95vw;
  height: 100vh;
  background-color: #fff;
  transition: right 0.3s ease;
  z-index: 1000;
}
.quickview-sidebar.active {
  right: 0;
}
.quickview-sidebar__header {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.quickview-sidebar__header .quickview-sidebar__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.quickview-sidebar__top .hidden {
  opacity: 0;
  visibility: hidden;
}
.quickview-sidebar__header [data-quickview-close] {
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.7;
  padding: 0px;
}
.quickview-sidebar__header [data-quickview-close]:hover {
  opacity: 1;
}
.quickview-sidebar__header [data-quickview-close] svg path {
  stroke-width: 1.5px;
}
