<div class="m-product-text"> 
  <style>
    p {
      font-size: 14px;
      line-height: 1.6;
      font-family: Arial, sans-serif;
      margin: 6px 0;
      display: flex;
      align-items: center;
      color: #1a1a1a;
    }
    .circle-check {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      background-color: #81C8FA; /* Updated color */
      border-radius: 50%;
      margin-right: 8px;
      flex-shrink: 0;
    }
    .circle-check svg {
      width: 10px;
      height: 10px;
      fill: white;
    }
  </style>

  <p>
    <span class="circle-check">
      <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.00039 10.8002L3.20039 8.00016L2.26606 8.9335L6.00039 12.6678L14.0004 4.66782L13.0671 3.7345L6.00039 10.8002Z"></path>
      </svg>
    </span>
    Indbygget svangstøtte
  </p>

  <p><span class="circle-check">
    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.00039 10.8002L3.20039 8.00016L2.26606 8.9335L6.00039 12.6678L14.0004 4.66782L13.0671 3.7345L6.00039 10.8002Z"></path>
    </svg>
  </span>
  Ortopædiske indlægssåler for ekstra støtte</p>

  <p><span class="circle-check">
    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.00039 10.8002L3.20039 8.00016L2.26606 8.9335L6.00039 12.6678L14.0004 4.66782L13.0671 3.7345L6.00039 10.8002Z"></path>
    </svg>
  </span>
  Hjælper med at lindre smerter i fødder, knæ og ryg</p>

  <p><span class="circle-check">
    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.00039 10.8002L3.20039 8.00016L2.26606 8.9335L6.00039 12.6678L14.0004 4.66782L13.0671 3.7345L6.00039 10.8002Z"></path>
    </svg>
  </span>
  Perfekt til gåture og lange dage på benene</p>
</div>